.list-view{
  background-color:white ;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  z-index: 30;
}



.map-view{
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.marker-icon.red{
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  background-color: red;
  opacity: 50%;
}
.marker-icon.pink{
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(255, 129, 150);
  opacity: 50%;
}
.marker-icon.green{
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  background-color: green;
  opacity: 50%;
}

.marker-icon .popup-marker{
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.marker-icon:hover .popup-marker{
  visibility: visible;
}


.ui-button-content{
  background-color: #CE9DD9; /* Green */
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}



.list-view-content{
  background-color: #CE9DD9; /* Green */
  border: none;
  margin-bottom: 10px;
}

.list-view-content-detail {
  font-size: 20px;
  text-align: center;
}

.list-view-header{
  background-color: #B399D4;
}

.list-view-header h5{
  text-align: center;
  font-size: 15px;
  margin-block-end:5px;
  margin-block-start:0;
}

.search-bar input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.list-view-search{
  background-color: white;
    flex-shrink: 0;
    padding: 20px;
}

.list_province{
  cursor: pointer;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}


.list_province:hover{
  background-color: rgb(182, 182, 182);
}

#close {
  cursor: pointer;
}

.popup-map-content-wrapper{
    background-color: #FFFFFF;
    border-top: 10px solid #CE9DD9;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
    width: 500px;
    height: 600px;
    padding: 20px;
    position: fixed;
    left: 75%;
    bottom: 25%;
    z-index: 20;
    transform: translateX(-50%);

    display: block;
}



.popup-map-content-list-wrapper{
    height: 470px;
  overflow: scroll;
}

.list-province-view-wrapper{
  width: 325px;
  height: 500px;
  overflow: scroll;
}